<div class="mt-4 p-5 bg-light rounded">
  <h1 class="display-4">Welcome!!</h1>
  <p class="lead">
    This is a Rails project where you can Create, Read, Update and Delete friends info.
  </p>

  <hr class="my-4">
  <p class="lead"><strong>Take a look.</strong> Create an account using the "Sign Up" option and then "Sign In" to try it out.</p>
</div>